.resume {
  padding: 20px;
}

.resume-title {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 60px;
  text-transform: capitalize;
}

.experience,
.education {
  border-left: 0.5px solid #fff;
  padding-left: 20px;
}

.experience h2,
.education h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.experience-links,
.education-links {
  list-style: none;
  padding-left: 0;
}

.experience-link,
.education-link {
  margin-bottom: 20px;
  border-bottom: 0.5px solid #fff;
  padding-bottom: 20px;
}

.experience-link h3,
.education-link h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.experience-link p,
.education-link p {
  font-size: 16px;
  margin-bottom: 10px;
}

.experience-link ul,
.education-link ul {
  list-style: circle;
  margin-left: 20px;
}

.experience-link ul li,
.education-link ul li {
  margin-bottom: 5px;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.skills-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2px;
}

.skill-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

h4 {
  /* border: 2px solid; */
  padding: 5px;
}

.move {
  margin-top: 10px;
}

.skill {
  border: 1px solid #027cec;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  min-width: 85px;
  background-color: #333;
  border-radius: 8px;
  padding: 5px 10px;
}

/* Media Queries */

@media (max-width: 768px) {
  .sections {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .resume-title {
    font-size: 30px;
  }

  .experience h2,
  .education h2 {
    font-size: 20px;
  }

  .experience-link h3,
  .education-link h3 {
    font-size: 16px;
  }

  .experience-link p,
  .education-link p {
    font-size: 14px;
  }
}

@media (min-width: 2560px) {
  .resume-title {
    font-size: 60px;
  }

  .experience h2,
  .education h2 {
    font-size: 44px;
  }

  .experience-link h3,
  .education-link h3 {
    font-size: 36px;
  }

  .experience-link p,
  .education-link p {
    font-size: 30px;
  }

  .experience-link ul li,
  .education-link ul li {
    font-size: 25px;
  }
}
